<h1><%= @user.username %>'s Garage</h1>


<h2>Your Motorcycles: </h2>
<% @user.motorcycles.each do |bike| %>
<h3>
    <%= bike.year %> <a href="/brands/<%= bike.brand.id %>"><%= bike.brand.name %></a> <a href="/motorcycles/<%= bike.id %>"><%= bike.name %></a> <br>
    Miles: <%= bike.mileage %>
    <a href="/motorcycles/<%= bike.id %>/edit">Edit</a>
    <a href="/motorcycles/<%= bike.id %>/delete">Delete</a>
    <br>
</h3>
<% end %>
<h3>Add a new bike to your garage <a href="/motorcycles/new">Here</a></h3>
<br>

<h3><a href="/users/<%= @user.id %>/edit">Edit Profile</a> <a href="/users/<%= @user.id %>/delete">Delete Profile</a></h3> 