<h1><%= @user.name %>'s Garage</h1>

<h2>Your bikes:</h2>
<% @user.motorcycles.each do |mc| %>
<h3>
    <%= mc.year %> <%= mc.brand %> <%= mc.name %> <br>
    Miles: <%= mc.mileage %>
    <br>
</h3>
<% end %>


<h4><a href="/users/<%= @user.id %>/edit">Edit Profile</a></h4>
