<h1><%= @motorcycle.year %> <% if !!@motorcycle.brand %><a href="../brands/<%= @motorcycle.brand.id %>"><%= @motorcycle.brand.name %></a><% end %> <%= @motorcycle.name %></h1>
<h2>
<%= @motorcycle.color %><br>
Miles: <%= @motorcycle.mileage %><br>
</h2>

<h2>Parked in <a href="/users/<%= @motorcycle.user.id %>"><%= @motorcycle.user.name %>'s Garage</a></h2>
<br>
