<h1><%= @motorcycle.year %> <% if !!@motorcycle.brand %><a href="../brands/<%= @motorcycle.brand.id %>"><%= @motorcycle.brand.name %></a><% end %> <%= @motorcycle.name %></h1>


<a href="/motorcycles/<%= @motorcycle.id %>/edit">Update/Edit Motorcycle</a>